{
  "extends": "airbnb-base",
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "afterEach": true,
    "beforeEach": true,
    "after": true,
    "request": true,
    "expect": true,
    "executeCreate": true,
    "remove": true
  },
  "rules": {
    "no-restricted-syntax": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "max-len": "off",
    "prefer-spread": "off",
    "no-plusplus": "off",
    "camelcase": "off",
    "no-unused-expressions": "off",
    "quote-props": "error",
    "prefer-destructuring": "off"
  }
}
